/* ここから下に記載していく */

/* header */
.header{
    display: left;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-bottom: 70px;
}

.logo img {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* header_レスポンシブで縦長へ */
@media screen and (max-width:480px){
    .header_navi{
        display: block;
    }
}


/* border ハンバーガーメニュー */
#hamburger .btn-gNav{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  
  #hamburger .btn-gNav span{
    position: absolute;
    width: 100%;
    height: 4px;
    background: #666;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  #hamburger .btn-gNav span:nth-child(1) {
    top:0;
  }
  #hamburger .btn-gNav span:nth-child(2) {
    top:10px;
  }
  #hamburger .btn-gNav span:nth-child(3) {
    top:20px;
  }
  #hamburger .btn-gNav.open span:nth-child(1){
    background: #fff;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  #hamburger .btn-gNav.open span:nth-child(2),#hamburger .btn-gNav.open span:nth-child(3){
    top: 6px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }
  #gNav{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #444;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
    padding-top: 50px;
    transition: .3s;
  }
  #gNav.open{
    right: 0px;
  }
  #gNav .gNav-menu{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*justify-content: center;*/
  }
  #gNav .gNav-menu li{
    display: block;
    padding : 20px 30px;
  }
  #gNav .gNav-menu li a{
    color: #ddd;
    text-decoration: none;
  }
  
  
  @media screen and (min-width: 600px){
    .btn-gNav{
      display: none;
    }
    #gNav{
      position: fixed;
      top: 0;
      right: 0;
      height: 50px;
    }
    #gNav .gNav-menu{
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      padding-left: 50px;
    }
    #gNav .gNav-menu li{
      padding-top: 5px;
    }
  }



/* mainvisual */
.mainvisual {
    font: 400 1em/1.5 "Neuton"; 
    background: #090d00; 
    color:orange; 
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 350px;
}

.mainvisual_title {
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  border: 4px double orange;
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 18%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;

}
  
.mainvisual_title span {

    font: 600 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */
/* 縞々の画像を挿入 */
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

/* Animate Background Image */
/* 画像にアニメーションをつける */
@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
  



/* about */
.about{
    text-align: center;
}

#about_title{
    color: orange;
    font-size: 24px;
    padding-top: 60px;
    font-weight: bold;
}

.about_subtitle{
    color: black;
    font-size: 18px;
    padding-top: 30px;
}

.about_body{
    color: black;
    font-size: 16px;
    padding-top: 60px;
}


/* about_image スライドショー */
.about_img {
    width: 640px; /* スライドショーの幅 */
    max-width: 100%; /* スマホで表示が欠けないように */
    margin: 10px auto; /* 中央揃え */
    position: relative;
    }

    .about_img img {
    animation: show 12s infinite; /* 12秒のスライドショーを繰り返し */
    max-width: 100%;
    height: 400px;
    opacity: 0;
    /* relactiveの上にabsoluteで画像を重ねられる */
    position: absolute; /* 画像を重ねて表示 */
    left: 0;
    top: 0;
    z-index: 1;    /* z軸上の座標 */ 
    }
    
    @keyframes show {
    0% {opacity: 0}
    17% {opacity: 1}
    33% {opacity: 1}
    50% {opacity: 0}
    }
    
    .about_img img:nth-of-type(1) {
    position: relative;
    }
    
    .about_img img:nth-of-type(2) {
    animation-delay: 0s;
    }
    
    .about_img img:nth-of-type(3) {
    animation-delay: 4s;
    }
    
    .about_img img:nth-of-type(4) {
    animation-delay: 8s;
    }


    /* course */
.course{
    text-align: center;
}

#course_title{
    color: orange;
    font-size: 24px;
    padding-top: 60px;
    font-weight: bold;
}

.course_title_detail{
    color: black;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 60px;
}

/* course_container */
.course_container{
    display: flex;
    flex-direction: row;    /* 順向き */
    flex-wrap: wrap;    /* 折り返して表示する */
    justify-content: center;
    font-size: 18px;
    color:black;
}

/* レスポンシブ */
/* 600px以下の時、要素を縦向きにする */
@media screen and (max-width:600px){
    .course_container{
        display: block;
    }
}


.course_ex img{
}

.course_ex{
    background-color:lightgrey;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 50px;
    padding-right: 50px;
    min-width: 585px;
}

.course_ex_title{
    padding-bottom: 40px;
}

.course_ex_body{
    line-height: 30px;  /* lineの高さ、改行したときに幅を増やす */
}


/* news */
.news{
    text-align: center;
}

#news_title{
    color: orange;
    font-size: 24px;
    padding-top: 60px;
    font-weight: bold;
}

#news_subtitle{
    color: black;
    font-size: 18px;
}

#news_main {
    display: flex;
    justify-content: space-between; /* 隙間を中央に寄せる */
    width: 960px;   /* 画面いっぱいに広がらないように */
    margin: auto;
    font-size: 16px;
}

@media screen and (max-width:600px) {
    #news_main {
        flex-direction: column; /* display:flex;を縦向きに */
        align-items: center;    /* 要素を中央に寄せる */
        width: 200px;
    } 
}


#news_main_ex li{
    font-size: 16px;
}


#news_main_ex:hover{
    border-color: red;
    background-color: lightgray;
}

/* news moreボタン */
.news_more button{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 300px;
    height: 60px;
    font-size: 18px;
    color: black;
    background-color: orange;
}
.news_more button:hover{    /* マウスをかざした時に、、、 */
    color: lightgray;
    background-color: gray;
}

/* access */
.access{
    text-align: center;
    padding-bottom: 30px;
}

#access_title{
    color: orange;
    font-size: 24px;
    padding-top: 60px;
    font-weight: bold;
}

.access_subtitle{
    color: black;
    font-size: 18px;
    padding-top: 30px;
}


.access_body{
    color: black;
    font-size: 16px;
    padding-top: 60px;
    line-height: 25px;
}

/* contact */
.contact{
    text-align: center;
}

#contact_title{
    color: orange;
    font-size: 24px;
    padding-top: 60px;
    font-weight: bold;
}

.contact_subtitle{
    color: black;
    font-size: 18px;
    padding-top: 30px;
}

.contact_body{
    color: black;
    font-size: 16px;
    padding-top: 60px;
    padding-bottom: 70px;
}

/* form */
.form{
    text-align: center;
}

dl{
    display: inline-block;  /* 要素同士で区切る */
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    padding: 8px 0 8px 0;
}

@media screen and (max-width:600px) {
    dl{
        display: block;
        flex-direction: column;
        align-items: center;
        border-bottom: none;    /* 枠線をなくす */
    }
}

dt{
    text-align: left;   
    width: 160px;
    padding-right: 64px;
    padding-left: 16px;
    display: inline-block;
    color: orange;
    font-weight: bold;
}

@media screen and (max-width:600px) {
    dt{
        text-align: center;
    }
}

dd{
    width: 400px;
    border-left: 1px solid #bfbfbf;
    padding-left: 8px;
    text-align: left;   
    display: inline-block;
    line-height: 40px;
}

@media screen and (max-width:600px) {
    dd{
        border-left: none;
    }
}



/*送信するボタン  */
.form_submit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"]{
    margin-top: 30px;
    margin-bottom: 140px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    color: black;
    background-color: lightgray;
}

input[type="submit"]:hover{
    color: lightgray;
    background-color: gray;
}



/* フローティングボタン、キャラクター*/
/* 将来的に、この位置にbot機能を追加したい */

#character_btn{
    position: fixed;
    bottom: 20px; 
    right: 20px;
    width: 200px;
    border-radius: 0%;
    background-color: orange;
    padding: 6px 10px;
    border-radius: 20px;
  }

#character_btn img{
    width: 80px;
}


/* ラベルのようなCSS */


/* 吹き出しのようなCSS */


/* 入力した文字を、スライドショーで流す */


/* footer */

#footer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #707070;
}
